# Project settings #
####################
PublicHolidaysAPI/PublicHolidaysAPI/*
PublicHolidaysAPI/manage.py

# Cache #
#########
PublicHolidaysAPI/publicholidays/__pycache__/*
PublicHolidaysAPI/publicholidays/sql/__pycache__/*

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.sqlite3
