# Project settings #
####################
PublicHolidaysAPI/PublicHolidaysAPI/*
PublicHolidaysAPI/manage.py

# Cache #
#########
PublicHolidaysAPI/*/__pycache__/*

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.sqlite3
